doctype html

include comment.pug

html.h-100(lang='en')
  head
    meta(charset='utf-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')/
    meta(name='application-name' content='Nine to Noon')/
    meta(name='description' content='The secret workday of uber-wealthy Americans')/
    meta(name='keywords' content='ninetonoon, nine, to, noon, secret, workday, verywealthy, uberwealthy, uber, wealthy, rich, money, cash, America, American, banks, stocks, prices')/
    meta(name='author' content='John F. Wooten')/
    link(rel='stylesheet' href='/static/style/yeti.min.css')/
    link(rel='stylesheet' href='/static/nine-to-noon/style/style.css')/
    title Nine to Noon &verbar; John Wooten

  body.d-flex.flex-column.h-100
    main.flex-shrink-0
      .container.page-container.px-5.py-3
        .row
          .col-12.col-md-9
            .align-items-center.d-flex.row
              .col-12.col-sm-5
                img.img-fluid(src='/static/nine-to-noon/img/cover_front_full.jpg' alt='Nine to Noon Book Cover')/
              .col-12.col-sm-7
                p This book is intended to give anyone a solid grasp on their financial future. Working nine-to-noon is ludicrously profitable, but it is not for everyone. However, you deserve to retire with as much money as you want. You deserve to grow your savings as much as you want. You can be the captain of your own financial future by using the knowledge and everyday techniques of the uber-wealthy. America is a powerful economic machine that gives a huge tailwind to any equity investor; take advantage of it!
          .col-12.col-lg-3.form-container.p-3.d-flex.align-items-center
              form#requestElementary(action='#' method='POST')
                h3 Want to Start off With an Elementary Education?
                p Get my 11 investing classes sent straight to your inbox today (basic introduction to the book)
                .form-group
                  label(for='firstName') First Name
                  input#firstName.form-control(name='firstName' type='text' placeholder='Enter name')/
                .form-group
                  label(for='emailAddress') Email address
                  input#emailAddress.form-control(name='emailAddress' type='email' placeholder='Enter email')/
                input.btn.btn-primary.btn-block(type='submit' value='Request')/
        .row.mt-5
          .col-12
            -
              let quoteList = [
                {
                  quote: 'The only book you\'ll ever need on personal finance and investing',
                  footer: null,
                },
                {
                  quote: 'From 0 to 100 in asset management (making bank) in one book. The story takes you from novice to expert',
                  footer: null,
                },
                {
                  quote: 'An understandable and applicable self-degree in the stock market and more',
                  footer: null,
                },
                {
                  quote: 'I wish they taught this stuff this well in school',
                  footer: 'Kyle Smith, Investor',
                },
                {
                  quote: 'I\'ve refined my strategies and seen them work across market sectors. Learn from the mistakes I\'ve made and improve yourself so you don\'t have to make them',
                  footer: 'John Wooten',
                },
              ];
            each quote in quoteList
              blockquote.blockquote
                p.mb-0= `"${quote.quote}"`
                unless quote.footer == null
                  footer.blockquote-footer= quote.footer

      .container.page-container.px-5.py-3.mt-4
        .row.mt-3
          .col-12
            h2.text-center.mb-3 Underlying Principles
            .align-items-center.d-flex.row
              .col-12.col-sm-7
                p This book starts by going through the workday that so few truly master, the workday that opens the floodgates holding back unimaginable opportunities. Then, you will learn about the basic techniques and tougher technicals behind long-term investing. Assuming you are a novice student in the markets, you will learn about different account types and principles for building and managing your assets.
              .col-12.col-sm-5
                img.img-fluid(src='/static/nine-to-noon/img/graph_01.png' alt='Portfolio growth from 18 to 66 years old')/
        .row.mt-3
          .col-12
            .align-items-center.d-flex.row
              .col-12.col-sm-6.mb-2
                img.img-fluid(src='/static/nine-to-noon/img/graph_02.png' alt='Inflation overview and market performance')/
              .col-12.col-sm-6
                p Understandable and immediately applicable financial viewpoints, trading principles, and strategy explanations based on 2+ years of trading and investing

    footer.footer.mt-auto.py-3
      .container
        span.text-muted &copy; #{(new Date()).getFullYear()} John Wooten

    script(src='/static/js/jquery-3.3.1.slim.min.js')
    script(src='/static/js/popper.min.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/nine-to-noon/js/ntn.js')

//The end :)
