footer.footer.py-5.bg-black.mt-auto
  .container
    p.m-0.text-center.text-white.small &copy; #{(new Date()).getFullYear()} John Wooten
    p.m-0.text-center.small
      a.text-white.footer-link(href='#') Terms &amp; Conditions
    p.m-0.text-center.text-white.small #[a.text-white.footer-link(href='#') Privacy Policy] &verbar; #[a.text-white.footer-link(href='#') Contact Me]
