nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    a.navbar-brand(href='/') John Wooten
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') About
        li.nav-item
          a.nav-link(href='/nine-to-noon/') Nine to Noon
        li.nav-item
          a.nav-link(href='/wooten-stock-picks/') Wooten Stock Picks
